<div class="app-container">
  <Span> Comments </Span>

  <div class="input-box" [formGroup]="commentForm">
    <div class="name-block new-input">
      <label for="name" class="label-name-input"> Name </label>
      <input
        type="text"
        value="name"
        class="commenter-name"
        formControlName="name"
      />
    </div>

    <textarea
      class="input-comment new-input"
      formControlName="comment"
    ></textarea>

    <button (click)="submit()">comment</button>
  </div>

  <div>
    <p>Comments Area</p>
    <ng-container *ngIf="comments$ | async as comments">
      <div *ngFor="let comment of comments">
        {{ comment.name }} {{ comment.message }} {{comment.created | date: 'medium'}}
      </div>
    </ng-container>
  </div>
</div>
