<div class="app-container">
  <div class="input-box" [formGroup]="commentForm">
    <div class="name-block new-input">
      <label for="name" class="label-name-input"> Name </label>
      <input
        type="text"
        value="name"
        class="commenter-name"
        required
        formControlName="name"
      />
    </div>

    <textarea
      class="input-comment new-input"
      formControlName="comment"
      required
    ></textarea>
    <button
      class="submit-comment"
      [disabled]="!canSubmit()"
      (click)="submit()"
    >
      comment
    </button>
  </div>

  <div class="comment-preview">
    <ng-container *ngIf="comments$ | async as comments">
      <ng-container
        *ngIf="comments && comments?.length > 0; else showNoComments"
      >
        <button class="delete" (click)="deleteAll()">delete comments</button>
        <mailchimp-monorepo-comment-block
          *ngFor="let comment of comments"
          [name]="comment?.name"
          [message]="comment?.message"
          [createdAt]="comment?.created"
          class="posted-comments"
        >
        </mailchimp-monorepo-comment-block>
      </ng-container>
      <ng-template #showNoComments> No comments for now ... </ng-template>
    </ng-container>
  </div>
</div>
